 {% extends 'base.html' %}

 {% block content %}

      <div class="col-md-4 col-md-offset-4">
	      <h2>Atualizar</h2>
   <form action="" method="post">
       {{ form_cadastro_usuario.csrf_token }}
	   <div class="form_group">
		   <label>Username</label>
		   {{ form_cadastro_usuario.username(class="form-control", value=userd.username) }}
		   <!--  <input name="Teste"  class="form-control"  value="{{ userd.username }}"/> -->
	   </div>

	   <div class="form_group">
		   <label>Password</label>
		   {{ form_cadastro_usuario.password(class="form-control", value=userd.password) }}
	   </div>

	  <div class="form_group">
		   <label>Nome</label>
		   {{ form_cadastro_usuario.name(class="form-control", value=userd.name) }}
	   </div>

	    <div class="form_group">
		   <label>Email</label>
		   {{ form_cadastro_usuario.email(class="form-control", value=userd.email) }}
	   </div>


	   <button type="submit" class="btn-default">Atualizar dados</button>
   </form>
      </div>

 {% endblock %}